*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-size: 120%;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./daniel-k-cheung-cPF2nlWcMY4-unsplash.jpg);
  } 
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: black;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: lightskyblue;
  }
  
  .choices button {
    display: block;
  }
 
  .content {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .scores {
    position: absolute;
    top: 15px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 15px;
    right: 10px;
  } 
  
  input[type="text"] {
    font-size: 100%;
  }

  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }